[submodule "backend"]
	path = backend
	url = https://github.com/GabrielJulio/silvertec_informatica_website_backend

[submodule "frontend"]
	path = frontend
	url = https://github.com/GabrielJulio/silvertec_informatica_website_frontend
